@page
<div class="container">
    <partial name="/Pages/Shared/_CreateRoomModal.cshtml" />
    <partial name="/Pages/Shared/_InviteUserModal.cshtml" />
    <partial name="/Pages/Shared/_SeeInvitesModal.cshtml" />
    <partial name="/Pages/Shared/_InviteDirectModal.cshtml" />
    <div class="row">
        <div class="col-10">
            <div class="row">&nbsp;</div>
            <!-- <div class="row">
                <div class="col-2">User</div>
                <div class="col-4"><input type="text" id="userInput" /></div>
            </div> -->
            <div class="row">
                <div class="col messageInputBox">
                    <div class="col"><input type="text" id="messageInput" /></div>
                    <div class="col"><input type="button" id="sendButton" class="catButton" value="send" /></div>
                    <div><span>in room: </span><span id="groupNameDisplay">none</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <partial name="/Pages/Shared/_ChatMessages.cshtml" />
        </div>
        <partial name="/Pages/Shared/_UserIds.cshtml" />
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>